body {
  overflow-x: hidden;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

header {
  background-image: url(../imagens/bg-header.png);
  background-size: cover;
  color: #fff;
  height: 50vh;
}

.table {
  border: 1px #e8e8e8;
  border-radius: 8px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.12);
}

.btn-contact, .btn-info {
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  height: 3em;
  background-color: #25d366;
  border-color: #25d366;
  color: white;
  min-width: 50%;
}

.btn-contact:hover, .btn-info:hover {
  opacity: .8;
}

.btn-info {
  background-color: #138496 !important;
  border-color: #117a8b !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  .table.desktop {
    display: none;
  }
}